body{
    background-image: url("black.png");
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
    color: beige;
    font-size: 10pt;
    padding: 0px ;
    text-align: center;
}
article{
    
    
}
nav{
    text
}
header{
    background-image: ;
    height: 300px;
    background-size: cover;
}
footer{
    
    

}
*{box-sizing: border-box;}

main{
    width: 90%;
    max-width: 900px;
    background-color: rgb(208, 207, 221);

}

